{% extends "layout.twig" %}

{% block style %}
	{{ parent() }}

	<style>
		main {
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #f5f5f5;
		}
		.form-signin {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
		}

		.form-signin .checkbox {
			font-weight: 400;
		}

		.form-signin .form-floating:focus-within {
			z-index: 2;
		}

		.form-signin input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	</style>
{% endblock %}


{% block body %}
	<main class="form-signin">
		<form action="{{ url_for('createProject') }}" method="post">
			<h1 class="h3 mb-3 fw-normal">Create Project</h1>

			<div class="form-floating">
				<input type="text" class="form-control {%if errors.identifier is defined %} is-invalid {% endif %}" id="identifier" name="identifier" placeholder="identifier">
				<label for="identifier">Project Identifier</label>
				{% if errors.identifier is defined%}
					<div class="invalid-feedback">{{ errors.identifier }}</div>
				{% endif %}
			</div>
			<div class="form-floating">
				<input type="password" class="form-control {%if errors.preSharedKey is defined %} is-invalid {% endif %}" id="preSharedKey" name="preSharedKey" placeholder="Pre-shared key">
				<label for="preSharedKey">Pre-shared key</label>
				{% if errors.preSharedKey is defined%}
					<div class="invalid-feedback">{{ errors.preSharedKey }}</div>
				{% endif %}
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>

			<div class="spinner-border text-primary" role="status" style="margin-left: 43%; display: none"></div>
		</form>
	</main>
	<script>
		const form = document.querySelector('form');
		form.addEventListener('submit', () => {
			window.setTimeout(() => {
				form.querySelector('input').disabled = true;
			}, 100);
			form.querySelector('button').style.display = 'none';
			form.querySelector('.spinner-border').style.display = 'block';
		});
	</script>
{% endblock %}
