{% extends "layout.twig" %}

{% block style %}
    {{ parent() }}

    <style>
        main {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        form {
            width: 30%;
            min-width: 200px;
            margin: auto;
            padding-bottom: 2em;
        }
    </style>
{% endblock %}

{% macro form_footer(action) %}
    <input type="hidden" name="action" value="{{ action }}">
    <div class="spinner-border text-primary" role="status" style="margin-left: 43%; display: none"></div>
{% endmacro %}


{% block body %}
    <main>
        <div class="container">
            <h4 style="text-align: center;">{{ project.identifier }}</h4>
            {% if error %}
                <span style="color: red; display: table; margin: 0 auto;">Operation failed</span>
            {% endif %}
            <form action="{{ url_for('editProject', {identifier: project.identifier}) }}" method="post">
                <h5 class="h5 mb-3 fw-normal">Set package</h5>
                <div class="form-group">
                    <select class="form-control" id="package"
                            name="package">
                        <option value="">None</option>
                        {% for package in packages %}
                            <option value="{{ package }}"{% if package == project.package %} selected="selected" {% endif %}>
                                {{ package }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Set package</button>
                {{ _self.form_footer('setPackage') }}
            </form>
            <form action="{{ url_for('editProject', {identifier: project.identifier}) }}" method="post">
                <h5 class="h5 mb-3 fw-normal">Set master domain</h5>
                {% if project.package is not empty %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="domain" value="{{ project.masterDomain }}"/>
                    </div>
                    {% if project.otherDomains is not empty %}
                        <ul class="domain-list">
                            {% for domain in project.otherDomains %}
                                <li>{{ domain }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Set domain</button>
                {% else %}
                    <span>Project must have package for custom domain</span>
                {% endif %}
                {{ _self.form_footer('setDomain') }}
            </form>
            <form action="{{ url_for('editProject', {identifier: project.identifier}) }}" method="post">
                <h5 class="h5 mb-2 fw-normal">Toggle project disabled (current:&nbsp;{{ project.status }})</h5>
                {% if project.status == 'ENABLED' %}
                    <button class="w-100 btn btn-lg btn-danger" type="submit">Disable</button>
                    {{ _self.form_footer('disable') }}
                {% elseif project.status == 'DISABLED' %}
                    <button class="w-100 btn btn-lg btn-success" type="submit">Enable</button>
                    {{ _self.form_footer('enable') }}
                {% else %}
                    <span>Project not fully installed</span>
                {% endif %}
            </form>
            <form action="{{ url_for('editProject', {identifier: project.identifier}) }}" method="post">
                <h5 class="h5 mb-3 fw-normal">Reset project</h5>
                {% if project.status == 'ENABLED' or project.status == 'DISABLED' %}
                    <button class="w-100 btn btn-lg btn-danger" type="submit">Reset</button>
                    {{ _self.form_footer('reset') }}
                {% else %}
                    <span>Project not fully installed</span>
                {% endif %}
            </form>
            <form
                    action="{{ url_for('editProject', {identifier: project.identifier}) }}"
                    method="post" onsubmit="return confirm('Do you really want to delete this project?');">
                <h5 class="h5 mb-3 fw-normal">Delete project</h5>
                <button class="w-100 btn btn-lg btn-danger" type="submit">Delete</button>
                {{ _self.form_footer('delete') }}
            </form>
        </div>
    </main>
    <script>
        const forms = document.querySelectorAll('form');
        for (let form of forms) {
            form.addEventListener('submit', () => {
                window.setTimeout(() => {
                    form.querySelector('input').disabled = true;
                }, 100);
                form.querySelector('button').style.display = 'none';
                form.querySelector('.spinner-border').style.display = 'block';
            });
        }
    </script>
{% endblock %}
