{% extends "layout.twig" %}


{% block style %}
	{{ parent() }}

	<style>
		.home {
			width: 100%;
			max-width: 50%;
			padding: 15px;
			margin: auto;
		}

	</style>
{% endblock %}

{% block body %}
	<main class="home">
		<div class="list-group">
			<a href="{{ url_for('createProject') }}" class="list-group-item list-group-item-action">Add project</a>
			<button
				class="list-group-item list-group-item-action"
				data-bs-toggle="collapse"
				data-bs-target="#projectsList"
				aria-expanded="true"
				aria-controls="projectsList"
			>
				Projects >
			</button>
			<div class="collapse" id="projectsList">
				{% for project in projects %}
					<div class="card" style="margin-left: 2%; margin-top: 0.4em">
						<div class="card-header">
							{{ project.identifier}}
							{% if project.domainName %}({{ project.domainName }}) {% endif %}
							[ip: {{ project.ip }}]
						</div>
						<div class="card-body list-group list-group-horizontal" style="padding: 0">
							{% if project.masterDomain  %}
								<a href="https://{{ project.masterDomain }}" class="list-group-item list-group-item-action">Frontend</a>
							{% endif %}
							<a href="{{ url_for('authorize', {}, {'forward_authorized': project.portalUrl}) }}" class="list-group-item list-group-item-action">Administration (Portal)</a>
							<a href="{{ url_for('authorize', {}, {'forward_authorized': project.cmsUrl}) }}" class="list-group-item list-group-item-action">CMS</a>
							<a href="{{ url_for('editProject', {identifier: project.identifier}) }}" class="list-group-item list-group-item-action">Edit here</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
