<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.84.0">

	<title>{% block title %}Partner Site {% endblock %}</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
		  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
			crossorigin="anonymous"></script>

	{% block style %}
		<style>
			html,
			body {
				height: 100%;
			}

			body {
				background-color: #f5f5f5;
			}

			.header-logo {
				vertical-align: -.125em;
				fill: currentColor;
			}

			header {
				background-color: white;
			}
		</style>
	{% endblock %}

</head>
<body class="{% block bodyClasses %}{% endblock %}">
{% block header %}
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<svg class="header-logo me-2" width="40" height="32" role="img" aria-label="Bootstrap">
				<!--todo logo-->
			</svg>
		</a>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="{{ url_for('home') }}" class="nav-link px-2 link-secondary">Home</a></li>
			{#
			{% if user is defined and undefined is defined %}
				{% if user.permissions.hasPermission('USERS') %}
					<li><a href="#" class="nav-link px-2 link-secondary">Users</a></li>
				{% endif %}
			{% endif %}
			#}
		</ul>

		<div class="col-md-3 text-end">
			<a href="{{ url_for('login', {},{'logout': 1}) }}" type="button" class="btn btn-primary me-4">Logout</a>
		</div>
	</header>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
