{% extends "layout.twig" %}

{% block style %}
	{{ parent() }}

	<style>
		body {
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #f5f5f5;
		}
		.form-signup {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
		}

		.form-signup .checkbox {
			font-weight: 400;
		}

		.form-signup .form-floating:focus-within {
			z-index: 2;
		}

		.form-signup input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.form-signup input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	</style>
{% endblock %}

{% block bodyClasses %}text-center{% endblock %}
{% block header %}{% endblock %}

{% block body %}
	<main class="form-signup">
		<form action="{{ url_for('register') }}" method="post">
			<h1 class="h3 mb-3 fw-normal">Please sign up</h1>

			<div class="form-floating">
				<input type="email" class="form-control {%if error is defined and error is not null %} is-invalid {% endif %}" id="floatingInput" name="email" placeholder="email">
				<label for="floatingInput">Email</label>
				{% if error is defined  and error is not null%}
					<div class="invalid-feedback">
						{{ error }}
					</div>
				{% endif %}
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>
			<br/>

			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
		</form>
	</main>
{% endblock %}
